<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">
    <title>Document</title>
</head>
<body>

    
    <form class="formip" action="" method="post">
        <select class="form-control rounded" name="count">
            <option vlaue="" class="form-control">Select Country</option>
            <option value="Ind" class="form-control">India</option>
        </select>

        <br>
        <select class="form-control rounded" name="beach">
            <option vlaue="" class="form-control">Select Beach</option>
            <option value="Goa" class="form-control">Goa</option>
        </select>

        <br>
        <select class="form-control rounded" name="beach">
            <option vlaue="" class="form-control">Select Sport</option>
            <option value="scuba" class="form-control">Scuba Diving</option>
        </select>

        <br>
        <input class="rounded" type="text" placeholder="Organisation Name" /><br>
        <input class="rounded" type="text" placeholder="Number of Batches"/><br>
        <input class="rounded" type="text" placeholder="Duration (no. of days)"><br>
        <input class="rounded" type="time" id="time" name="tm" style="text-align: center;"><br>
        <input class="rounded" type="text" placeholder="Price (USD)"/><br>

        <div style="">
        <select class="form-control rounded" name="count" style="width:50px; margin-right: 0px;">
            <option vlaue="" class="form-control">Country Code</option>
            <option value="Ind" class="form-control">+91</option>
        </select>
        <input class="rounded"  type="text" placeholder="Contact No." style="margin-left: 0px;"/><br>
    </div>

        <input class="rounded" type="text" placeholder="Email"/><br>

        <textarea class="rounded" rows="5" cols="40">Give a Brief Description of the organisation and its activities</textarea><br>
   
        <button class="rounded submit" >Add</button>
    </form>
</body>
</html>