<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BeAchBAy</title>
</head>
<body>


    <ul >
        <li style="float: left; color:white; font-size:40px;"><a href="home.html">BeachBaY</a></li>
    </ul>
      

    <div class="input-group rounded">
        <form method="post" action="{{ url_for( 'beach_choice' ) }}">
            <select class="form-control rounded" name="country">
                <option value="" class="form-control">Select Country</option>
                {% for country in countries %}
                    <option value="{{country}}" class="form-control">{{country}}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="GO!" class="form-control" style="margin-top: 5px; cursor: pointer; width: 100px; margin-left: 90px;border-radius:50px;">
        </form>

    </div>
<div class="footer" style="color:white;margin: 0;
  position: absolute;
  top: 80%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);">
<p style="font-size: 25px;
  font-family: 'Lacquer', cursive;">ABOUT BEACHBAY</p>
<p style="font-size:20px;">llorem ipsum</p>

<i class="fa fa-github" style="font-size:30px;"><a href="https://github.com/nimisha-sara/beachbay"></a></i>

    </div>
</body>
</html>                                                                                              