<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BeAchBAy</title>
</head>
<body>


    <ul >
        <li style="float: left; color:white; font-size:40px;"><a href="{{ url_for( 'main' ) }}">BeachBaY</a></li>
    </ul>
      

    <div class="input-group rounded">
        <form method="post" action="{{ url_for( 'beach_choice' ) }}">
            <select class="form-control rounded" name="country">
                <option value="" class="form-control">Select Country</option>
                {% for country in countries %}
                    <option value="{{country}}" class="form-control">{{country}}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="GO!" class="form-control" style="margin-top: 5px; cursor: pointer; width: 100px; margin-left: 90px;border-radius:50px;">
        </form>

    </div>
<div class="footer" style="color:white;margin-top:100px; margin-left:20px;margin-right:20px;margin-bottom:40px;
  position: absolute; padding:20px;
  top: 100%;
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);">
<p style="font-size: 25px;  font-family: 'Lacquer', cursive;"><b>ABOUT BEACHBAY</b></p>
<p style="font-size: 20px;  font-family: 'Comfortaa', cursive;">Find your favourite beach sport activities in the most amazing beaches around the world in Beachbay and say yes to new adventures.</p>
    <p style="font-size: 20px;font-family: 'Comfortaa', cursive;">BeachBay is a beach sport website for adventure enthusiasts and travellers who have passion for beach sport activities and travelling. It includes information about upcoming beach sport activities in some of the most amazing beaches around the world. Users can view details about various entertainment available at beaches around the world and help the website grow by adding authentic information that would help fellow travelers.</p>

<i class="fa fa-github" style="font-size:30px; margin:20px;"><a href="{{ url_for('link_redirect', url='https://github.com/nimisha-sara/beachbay') }}"> </a></i>
    </div>
</body>
</html>                                                                                              