body{
    background-image: url("img1.jpg");
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    padding: 20px;
}

.beach-card
{
    float: left;
    display: flex;
   
    border-radius: 30px;

    width: 75%;

    overflow:hidden;
    
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
p{
   padding:20px;
}